body
{
    margin: 0;
    color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;

}
#top-container
{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;

}
#top-cloud
{
    position: absolute;
    right: 300px;
    top: 40px;  
}
#bottom-cloud
{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
h1
{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
}
h2
{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;

}
h3
{
    font-family: 'Montserrat', sans-serif;
    color: #11999E
}

a
{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover
{
    color: #EAF6F6;
}
.skill-row
{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
p
{
    line-height: 2;
}
.frontend-img
{
    float: left;
    width: 25%;
    margin-right: 25px;
}
.mysql-img
{
    float: right;
    width: 25%;
    margin-left: 25px;
}
#devesh-img
{
    width: 15%;
}

.intro
{
    width: 50%;
    margin: 0 auto 0 auto;
}
hr
{
    border: dotted #E4F9F5 0px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 0 auto;
}
.contact-message
{
    margin: 40px auto 60px auto;;
}
.btn 
{
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .bottom-container
  {
    height: 100px;
    background-color: #66BFBF;
    padding: 50px 0 20px 0;
  }
  .copyright
  {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0 20px 0;
  }
  .middle-container
  {
    margin: 100px 0;
  }
